@charset "UTF-8";

form{
    width:500px;
    margin:auto;
}

input, textarea{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, .8);
}

fieldset{
    border-color: #cecece;
    margin:20px;
}

fieldset#sexo{
    width: 150px;
}

fieldset#usuario{
    background: url("/home/desis/Área de trabalho/Cursos/HTML/curso-html5-pacote01/projeto-glass-html5/_imagens/icone-contato.png") no-repeat 95% 95%;
}

fieldset#endereco{
    background: url("/home/desis/Área de trabalho/Cursos/HTML/curso-html5-pacote01/projeto-glass-html5/_imagens/icone-endereco.png") no-repeat 95% 95%;
}

fieldset#mensagem{
    background: url("/home/desis/Área de trabalho/Cursos/HTML/curso-html5-pacote01/projeto-glass-html5/_imagens/icone-mensagem.png") no-repeat 95% 95%;
}

fieldset#pedido{
    background: url("/home/desis/Área de trabalho/Cursos/HTML/curso-html5-pacote01/projeto-glass-html5/_imagens/icone-pagamento.png") no-repeat 95% 95%;

    text-decoration: line;
}