@charset "UTF-8";

div#tv-radio{
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("C:\Users\ACER\Desktop\Nova pasta (2)\Estudos_de_HTML\curso-html5-pacote01\projeto-glass-html5\_imagens\radio-tv.png") no-repeat;
}

audio#musica{
    display: block;
    position: relative;
    left: 575px;
    top: 500px;
    width: 300px;
}

video#filme{
    display: block;
    position: relative;
    left: 90px;
    top: 85px;
    width: 440px;
}