@charset "UTF-8";

section#conteudo {
    width: 1000px;
    margin: auto;
}

section#corpo-full{
    width: 800px;
    margin: auto;
}

iframe#frame-spec {
    width: 305px;
    height: 300px;
    border: hidden;
    
}

iframe#frame-spec::-webkit-scrollbar{
    display:none;
}